<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Factile_Mode_v3.Listeners2"/>
</listeners>
  
 
    <test name="sign up">
    <classes>
          <class name="Factile_Mode_v3.Sign_UP"/>
           </classes>
  </test> <!-- Test -->
   
    <test name="Log in">
    <classes>
          <class name="Factile_Mode_v3.Log_In"/>
           </classes>
  </test> <!-- Test -->
   
    <test name="Forget Password">
    <classes>
          <class name="Factile_Mode_v3.ForgetPassword"/>
           </classes>
  </test> <!-- Test -->
   
  
 <test name="Two_Factor_Authentication">
 <classes>
 <class name="Factile_Mode_v3.TwoFactorAuthentication"/> 
 </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
