<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Factile_Mode.Listeners1"/>
</listeners>
  <test name="Verify Users Can Join Buzzer Mode after Game Begins using pin directly">
    <classes>
          <class name="Factile_Mode.DGBP_HSB_TestCase_26"/>
           </classes>
  </test> <!-- Test -->

 <test name="Verify Users Can Join Buzzer Mode after Game Begins through Team manage">
    <classes>
          <class name="Factile_Mode.DGBP_HSB_TestCase_27"/>
           </classes>
  </test> <!-- Test -->
  
  
  <test name="Verify Users Can Join Buzzer Mode after Game Begins When Unchecked">
    <classes>
          <class name="Factile_Mode.DGBP_HSB_TestCase_28"/>
           </classes>
  </test> <!-- Test -->
    
  <test name="Verify Buzzer mode for Fianl factile question">
    <classes>
          <class name="Factile_Mode.DGBP_HSB_TestCase_29"/>
           </classes>
  </test> <!-- Test -->
  
   <test name="Verify_When_Buzzer_For_Final_Factile_Off_From_Customization">
    <classes>
          <class name="Factile_Mode.DGBP_HSB_TestCase_30"/>
           </classes>
  </test> <!-- Test -->
  
 
</suite> <!-- Suite -->
