<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Factile_Mode.Listeners1"/>
</listeners>


    <test name="Verify wager submit by Captain">
    <classes>
          <class name="Factile_Mode.DGBP_HSB_TestCase_48"/>
           </classes>
  </test> <!-- Test -->  
 
  <test name="To verify final factile answer text box submitted by Captain">
    <classes>
          <class name="Factile_Mode.DGBP_HSB_TestCase_52"/>
           </classes>
</test> <!-- Test -->  
  <test name="To verify final factile answer text box submitted by team member">
    <classes>
          <class name="Factile_Mode.DGBP_HSB_TestCase_53"/>
           </classes>
  </test> <!-- Test --> 
  
  
  
  
   
</suite> <!-- Suite -->
